.content {
  width: 80%;
  height: auto;
  margin: auto;
}

.content_services {
  margin-bottom: -12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.content_services_main1 {
  width: 50%;
  height: 50rem;
  background-color: #fab51a;
  margin: auto;
}

.content_services_main1 img {
  width: 80%;
  height: 65%;
  border-radius: 39px;
  position: relative;
  top: 5%;
  left: 9%;
}

.content_services_main2 {
  width: 50%;
  height: 50rem;
  background-color: #1a3663;
  margin: auto;
  padding-left: 5%;
  padding-top: 5%;
}

.content_services_main2 p {
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.content_services_main2 li {
  list-style-type: none;
  color: white;
  padding: .5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.content_services_main2 button {
  margin-top: 3%;
  margin-left: 25%;
  padding: .5rem 2rem;
  border: none;
  background-color: #fab51a;
  color: #1a3663;
  border-radius: 20px 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.content_services_main2 button a {
  text-decoration: none;
}

.content_services_text {
  width: 50%;
  color: #1a3663;
  margin-left: 25%;
  text-align: justify;
}

.content_services_text p {
  font-size: 2.5rem;
  color: #fab51a;
  font-weight: 700;
  background-color: #1a3663;
  width: 40%;
  margin-left: 30%;
}

.content_services_text span {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1a3663;
}

.content_services1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content_services1_block2 {
  background-color: #fab51a;
  height: 22rem;
  width: 30%;
  margin: auto;
  padding: 2% 2%;
}

.content_services1_block2 p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1a3663;
}

.content_services1_block2 li {
  font-size: 1.1rem;
  font-weight: 500;
  color: #1a3663;
  margin-left: 5%;
}

.content_services1_block1 {
  background-color: #1a3663;
  height: 22rem;
  width: 30%;
  margin: auto;
  padding: 2% 2%;
}

.content_services1_block1 p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-left: 10%;
}

.content_services1_block1 li {
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  margin-left: 5%;
}

.team {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 3rem;
}

.team_head {
  background-color: #1a3663;
  width: 40%;
  height: 5rem;
  margin: auto;
  margin-bottom: 1rem;
}

.team_head p {
  padding-top: .5%;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  margin: auto;
}

.team_about {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_about_prof {
  margin: auto;
}

.team_about_prof img {
  margin-left: 30%;
  width: 40%;
}

.team_about_prof p {
  text-align: center;
  color: #1a3663;
  font-weight: 700;
}
/*# sourceMappingURL=Content.css.map */