.footer{
    // margin-top: 5%;
    // background-image: url(../../assets/bg_footer.jpg);
    background-color: #010230;
    width: 100%;
    height: 250px;
    &_contacts{
        margin-left: 10%;
        color: white;
        // &_phone{
        //     img {
        //         width: 2rem;
        //     }
        //     span {
        //         text-align: center;
        //     }
        // }
    }
}